{# content \Netgen\IbexaSiteApi\API\Values\Content #}
{# location \Netgen\IbexaSiteApi\API\Values\Location #}

{% if location is defined %}
    <a href="{{ ibexa_path(location) }}"{% if class is defined %} class="{{ class }}"{% endif %}>{{ content.name }}</a>
{% else %}
    <a href="{{ ibexa_path(content) }}"{% if class is defined %} class="{{ class }}"{% endif %}>{{ content.name }}</a>
{% endif %}
